html,body{
    background-color: #28292F !important;
    color: #f4f4f4 !important;
}
h1,
h2 {
    font-family: 'Lilita One', cursive;
}
h1{
    font-size: 70px !important;
    color: aliceblue !important;
}

span {
    color: rgb(248, 140, 45);
}

p {
    font-family: 'Raleway', sans-serif;
}
.t1{
    font-size: 50px;
}
a {
    font-family: 'Lilita One', cursive;
}

button {
    padding: 10px 15px;
    border:none;
    border-radius: 20% !important;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #6c6c6c,
                 -20px -20px 60px #bdbdbd;
    font-family: 'Lilita One', cursive !important; 
    font-size: larger !important;       
}
button:hover{
    color: aliceblue;
    background: linear-gradient(145deg, #000000, #f0f0f0);
}
.col2-main{
    text-align: left;
    padding: 100px 10px;
}


.spacer{
    height: 150px;
}
.s-section{
    text-align: center;
}
.serv{
    font-size: 70px;
   
}

@media (max-width: 320px) {
    .col2-main{
        text-align: left;
        padding: 0px;
    }
    .serv{
        font-size: 40px;
       
    }
  }