body{
    box-sizing: border-box;
    background: #7fffd4;
    
}
html *
{
    font-family: 'Poppins', sans-serif !important;
}
.head-text
{
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 700;
}
.head-desc
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.section-1
{
    margin-top: 50px;
}
.cta-section-one
{
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}
.cta-section-one:hover
{
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    background: #000000;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #555555;
    color:#fff;
}
.hero
{
    padding-top: 50px;
}
.section-head
{
    text-align: center;   
}
.section-two-head
{
    font-weight: 500;
    font-size: 40px;
}
.spacer
{
    height: 40px;
}
.section-three-head
{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.logo-client
{
    margin-bottom: 20px;
}
.img-l 
{
    padding: 50px;
    text-align: center;
}
.img-l img
{
    width: 70%;
}
.c-footer
{
    background-color: #000000;
    text-align: center;
    color: #fff;
}